.booking {
	padding: 75px 0 149px 0;

	@media(max-width: 1024px) {
		padding: 60px 0 119px 0;
	}
	@media(max-width: 940px) {
		padding: 45px 0 102px 0;
	}
	@media(max-width: 380px) {
		padding: 25px 0 49px 0;
	}

	&__form {
		position: relative;
		border: 1px solid $disabled;
		border-radius: 30px;
		padding: 60px 100px;
		max-width: 980px;
		margin: 0 auto;

		@media(max-width: 1024px) {
			padding: 60px 80px 69px 80px;
			max-width: 940px;
		}

		@media(max-width: 940px) {
			padding: 40px 60px;
			max-width: 700px;
			border-radius: 20px;
		}

		@media(max-width: 720px) {
			padding: 20px 10px 25px 10px;
		}
		@media(max-width: 380px) {
			border-radius: 10px;
			max-width: 350px;
		}
		
	}

	&__title {
		font-family: 'Merriweather';
		font-style: normal;
		font-weight: 400;
		font-size: 34px;
		line-height: 150%;
		text-align: center;
		letter-spacing: 0.02em;
		margin-bottom: 60px;

		@media(max-width: 1024px) {
			font-size: 30px;
		}

		@media(max-width: 940px) {
			font-size: 20px;
			margin-bottom: 40px;
		}

		@media(max-width: 380px) {
			font-size: 16px;
			margin-bottom: 25px;
		}
	}

	&__container-one {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;

		@media(max-width: 720px) {
			flex-direction: column;
			gap: 15px;
			margin-bottom: 15px;
		}
		@media(max-width: 380px) {
			align-items: center;
		}
	}

	&__container-two {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
		@media(max-width: 940px) {
			margin-bottom: 24px;
		}

		@media(max-width: 720px) {
			flex-direction: column;
			gap: 15px;
			margin-bottom: 25px;
		}
	}

	&__container-three {
		display: flex;
		justify-content: space-between;

		@media(max-width: 720px) {
			flex-direction: column;
		}
		@media(max-width: 380px) {
			gap: 25px;
		}
	}

	&__version {
		width: 220px;
		border: 1px solid $disabled;
		border-radius: 12px;
		padding: 12px 16px 12px 6px;
		background: rgba(255, 255, 255, 0.72);
		position: relative;
		transition: all 0.250s ease;
		outline: none;
		
		@media(max-width: 940px) {
			width: 170px;
			border-radius: 8px;
			padding: 12px 16px 15px 6px;
		}

		@media(max-width: 720px) {
			width: 100%;
		}

		@media(max-width: 380px) {
			width: 160px;
			padding: 8px 16px 15px 6px;
		}
	}

	&__options {
		@media(max-width: 380px) {
			padding: 8px 16px 15px 9px;
		}
	}

	&__version,
	&__block-name,
	&__block-mn {
		transition: all 0.250s ease;
		&:hover {
			border: 1px solid $orange;
		}
		&:focus {
			outline: 1px solid $focus;
		}
		&:active {
			outline: 1px solid $orange;
		}
	}

	&__input {
		transition: all 0.250s ease;
		&:hover {
			border: 1px solid $orange;
		}
		&:focus {
			outline: 1px solid $focus;
		}
		&:active {
			outline: 1px solid $orange;
		}
	}

	&__button {
		border: transparent;
		background: transparent;
		outline: none;
		transition: all 0.250s ease;
		&:after {
			content: '';
			border-bottom: 2px solid $black;
			border-right: 2px solid $black;
			width: 8px;
			height: 8px;
			transform: rotate(45deg);
			position: absolute;
			top: 34px;
    		right: 20px;
			@media(max-width: 380px) {
				top: 20px;
    			right: 17px;
			}
			
		}
		&:hover {
			&:after {
				border-bottom: 2px solid $orange;
				border-right: 2px solid $orange;
			}
		}
		&:focus {
			&:after {
				border-bottom: 2px solid $orange;
				border-right: 2px solid $orange;
			}
		}
		&:active {

			span {
				color: $orange;
			}
			
			&:after {
				border-bottom: 2px solid $orange;
				border-right: 2px solid $orange;
			}

		}
	
	}

	&__span {
		font-weight: 700;
		font-size: 16px;
		line-height: 130%;
		@media(max-width: 940px) {
			font-size: 14px;
		}
		@media(max-width: 380px) {
			font-size: 12px;
		}
	}

	&__date-span {
		padding-left: 7px;
	}

	&__peolpe-span {
		padding-left: 3px;
	}

	&__options-span {
		padding-left: 0;
	}

	&__text {
		font-weight: 300;
		font-size: 16px;
		line-height: 130%;
		color: $disabled;
		opacity: 0.7;
		text-align: start;
		padding-top: 10px;
		padding-left: 8px;

		@media(max-width: 940px) {
			font-size: 14px;
			padding-top: 15px;
		}

		@media(max-width: 380px) {
			font-size: 12px;
			padding-top: 14px;
		}
	}

	&__peolpe-text {
		padding-left: 3px;
	}

	&__options-text {
		padding-left: 0;
	}

	&__button {
		display: flex;
		flex-direction: column;
		width: 142px;
		outline: none;
		@media(max-width: 940px) {
			width: 123px;
		}
		@media(max-width: 720px) {
			width: 100%;
		}
		@media(max-width: 380px) {
			width: 108px;
		}
	}

	&__block-name {
		background: rgba(255, 255, 255, 0.72);
		border: 1px solid $disabled;
		border-radius: 12px;
		max-width: 780px;
		padding: 12px 100px 33px 15px;
		margin-bottom: 30px;
		@media(max-width: 940px) {
			max-width: 580px;
			border-radius: 8px;
			padding: 12px 0px 17px 15px;
		}
		@media(max-width: 720px) {
			max-width: 100%;
			margin-bottom: 15px;
		}
		@media(max-width: 380px) {
			padding: 8px 0 13px 18px;
		}
	}

	&__name-wrap {
		display: flex;
    	flex-direction: column;
	}

	&__label {
		font-weight: 700;
		font-size: 16px;
		line-height: 130%;
		margin-bottom: 10px;

		@media(max-width: 940px) {
			font-size: 14px;
			margin-bottom: 15px;
		}
		@media(max-width: 380px) {
			font-size: 12px;
		}
	}

	&__input {
		font-weight: 300;
		font-size: 16px;
		line-height: 130%;
		color: $disabled;
		opacity: 0.7;
		background: rgba(255, 255, 255, 0.72);
		border: transparent;
		@media(max-width: 940px) {
			font-size: 14px;
		}
		@media(max-width: 380px) {
			font-size: 12px;
		}
	}

	&__name-input {
		max-width: 665px;
		@media(max-width: 940px) {
			max-width: 405px;
		}
		@media(max-width: 720px) {
			max-width: 90%;
		}
	}

	&__block-mn {
		width: 360px;
		background: rgba(255, 255, 255, 0.72);
		border: 1px solid $disabled;
		border-radius: 12px;

		@media(max-width: 1024px) {
			max-width: 360px;
		}

		@media(max-width: 940px) {
			width: 280px;
			border-radius: 8px;
		}
		@media(max-width: 720px) {
			width: 100%;
			max-width: 100%;
		}
	}

	&__block-mail {
		padding: 12px 78px 33px 15px;

		@media(max-width: 940px) {
			padding: 12px 0px 18px 13px;
		}
		@media(max-width: 380px) {
			padding: 8px 0 14px 18px;
		}
	}

	&__block-number {
		padding: 12px 97px 33px 25px;

		@media(max-width: 940px) {
			padding: 12px 0px 18px 20px;
		}
		@media(max-width: 380px) {
			padding: 8px 0 14px 18px;
		}
	}

	&__mail-input {
		max-width: 265px;

		@media(max-width: 940px) {
			max-width: 245px;
		}
		@media(max-width: 720px) {
			max-width: 90%;
		}
	}

	&__phone-input {
		max-width: 235px;

		@media(max-width: 940px) {
			max-width: 235px;
		}

		@media(max-width: 720px) {
			max-width: 90%;
		}
	}

	&__mail-wrap {
		display: flex;
		flex-direction: column;
	}
	
	&__number-wrap {
		display: flex;
		flex-direction: column;
	}

	&__block-price {
		width: 380px;
		@media(max-width: 380px) {
			width: 250px;
    		margin-left: 9px;
		}
	}

	&__price-month {
		font-weight: 300;
		font-size: 18px;
		line-height: 150%;
		margin-bottom: 10px;

		@media(max-width: 940px) {
			font-size: 14px;
			margin-bottom: 18px;
		}
		@media(max-width: 380px) {
			font-size: 12px;
			margin-bottom: 10px;
		}
	}

	&__price-total {
		font-weight: 700;
		font-size: 20px;
		line-height: 150%;

		@media(max-width: 940px) {
			font-size: 18px;
		}
		@media(max-width: 380px) {
			font-size: 18px;
		}
	}

	&__form-btn {
		width: 360px;
		height: 76px;
		font-weight: 700;
		font-size: 18px;
		line-height: 150%;
		color: $white;
		display: block;
		background: $orange;
		border-radius: 12px;
		border: none;
		padding: 24px 112px 25px 111px;
		transition: all 0.250s ease;

		&:hover {
			background-color: $hover;
		}
		&:focus {
			background-color: $hover;
			outline: 2px solid $focus;
		}
		&:active {
			background-color: $active;
		}

		@media(max-width: 1024px) {
			width: 299px;
			height: 63px;
			padding: 18px 81px;
		}

		@media(max-width: 940px) {
			font-size: 14px;
			width: 220px;
			height: 45px;
			padding: 12px 57px;
			border-radius: 6px;
			margin-top: 13px;
		}

		@media(max-width: 720px) {
			width: 100%;
		}

		@media(max-width: 380px) {
			margin-top: 0;
			font-size: 12px;
			padding: 8px 30px;
			width: 151px;
			height: 34px;
			margin: 0 auto;
		}
	}

	&__form-list-month {
		position: relative;
		width: 127px;
	}
	&__form-list-month::after {
		content: '';
		border-right: 1px solid $grey;
		height: 240px;
		position: absolute;
		top: 6px;
		right: 0px;
		@media(max-width: 380px) {
			height: 208px;
		}
	}

	&__form-date {
		background-color: $white;
		padding: 20px;
		width: 282px;
		position: absolute;
		top: -112px;
		left: 0;
		z-index: 20;
		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
		display: none;
		z-index: 20;

		@media(max-width: 940px) {
			top: -150px;
			left: -10px;
		}
		@media(max-width: 720px) {
			padding: 10px;
			top: -15px;
    		left: 32px;
			height: 100px;
			overflow: scroll;
		}

		@media(max-width: 380px) {
			width: 260px;
			top: -32px;
			left: 12px;
		}

		&-title {
			font-weight: 700;
			font-size: 18px;
			line-height: 130%;
			margin-bottom: 20px;
			text-align: center;

			@media(max-width: 380px) {
				margin-bottom: 10px;
			}
		}

		&-container {
			display: flex;
			justify-content: space-between;
		}

		&-item:not(:last-child) {
			margin-bottom: 10px;
			@media(max-width: 380px) {
				margin-bottom: 5px;
			}
		}

		&-label {
			font-weight: 700;
			font-size: 14px;
			line-height: 130%;
			color: $grey;
			cursor: pointer;
			transition: all 0.250s ease;
			&:hover{
				color: $orange;
				font-size: 16px;
			}
			&:focus {
				font-size: 16px;
			}
			&:active {
				font-size: 16px;
				color: $orange;
			}
		}

		&-input {
			appearance: none;
		}

		&-btn {
			font-weight: 700;
			font-size: 14px;
			line-height: 130%;
			color: $white;
			padding: 10px 30px;
			background-color: $orange;
			display: block;
			width: 106px;
			height: 38px;
			border: none;
			border-radius: 8px;
			margin-left: auto;
			margin-top: 10px;
			transition: all 0.250s ease;

		&:hover {
			background-color: $hover;
		}
		&:focus {
			background-color: $hover;
			outline: 2px solid $focus;
		}
		&:active {
			background-color: $active;
		}
		}
	}

	&__formdate-listnum {
		align-self: center;
		@media(max-width: 380px) {
			align-self: start;
		}
	}

	&__formdate-itemnum:not(:last-child) {
		margin-bottom: 25px;
		@media(max-width: 380px) {
			margin-bottom: 10px;
		}
	}

	&__formdate-label {
		font-weight: 700;
		font-size: 14px;
		line-height: 130%;
		cursor: pointer;
		transition: all 0.250s ease;
		&:hover{
			font-size: 16px;
		}
		&:focus {
			font-size: 16px;
		}
		&:active {
			font-size: 16px;
			color: $orange;
		}
		
	}

	&__formdate-input {
		appearance: none;
		&:checked > &__form-date-label {
			font-size: 16px;
			color: $orange;
		}
	}

	&__formnum {
		display: none;
		position: absolute;
		top: -59px;
    	left: 448px;
		width: 49px;
		background-color: $white;
		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
		padding: 20px 0;
		text-align: center;
		z-index: 20;

		@media(max-width: 940px) {
			top: -119px;
			left: 350px;
		}

		@media(max-width: 720px) {
			top: 140px;
    		left: 34px;
			height: 100px;
			overflow: scroll;
		}

		@media(max-width: 380px) {
			top: 155px;
    		left: 23px;
		}

		&-label {
			font-weight: 700;
			font-size: 14px;
			line-height: 130%;
			cursor: pointer;
			&:hover {
				font-size: 18px;
			}
			&:active {
				font-size: 18px;
				color: $orange;
			}
		
		}

		&-input {
			appearance: none;
		
		}
		
	} 

	&__formnum-item:not(:last-child) {
		margin-bottom: 25px;
	}

	&__formoption {
		width: 219px;
		padding: 20px;
		background: $white;
		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
		top: -66px;
		right: 139px;
		position: absolute;
		display: none;
		z-index: 20;

		@media(max-width: 940px) {
			top: -127px;
			right: 3px;
		}

		@media(max-width: 720px) {
			padding: 10px;
			height: 100px;
			overflow: scroll;
			top: 259px;
    		right: 120px;
		}

		@media(max-width: 380px) {
			top: 271px;
			right: 78px;
			width: 210px;
		}

		&-title {
			font-weight: 700;
			font-size: 18px;
			line-height: 130%;
			margin-bottom: 20px;
			@media(max-width: 380px) {
				margin-bottom: 10px;
			}
		}

		&-list {
			margin-bottom: 30px;
			@media(max-width: 380px) {
				margin-bottom: 10px;
			}
		}

		&-item:not(:last-child) {
			margin-bottom: 25px;
			@media(max-width: 380px) {
				margin-bottom: 5px;
			}
		}

		&-input {
			width: 16px;
			height: 16px;
			margin-right: 10px;
			vertical-align: sub;
			cursor: pointer;

			&:hover {
				border: 1px solid $orange;
			}
			&:focus {
				outline: 1px solid $orange;
			}
		
		}

		&-label {
			font-weight: 700;
			font-size: 14px;
			line-height: 130%;
		}

		&-btn {
			padding: 10px 30px;
			display: block;
			width: 106px;
			height: 38px;
			color: $white;
			background-color: $orange;
			border-radius: 8px;
			font-weight: 700;
			font-size: 14px;
			line-height: 130%;
			border: none;
			margin-left: auto;
			transition: all 0.250s ease;
			
			&:hover {
				background-color: $hover;
			}
			&:focus {
				background-color: $hover;
				outline: 2px solid $focus;
			}
			&:active {
				background-color: $active;
			}
		}
	}

}

.form-active {
	display: block;
}

.formnum-active {
	display: block;
}

.opt-active {
	display: block;
}