$orange: #FCB500;
$grey: #C0C0C0;
$hover: #F3C858;
$focus: #C2900F;
$disabled: #AFAFAF;
$active: #D09600;

$black: #303030;
$white: #FFF;


%backgImg {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

